body{
    background-image: url("https://ih1.redbubble.net/image.5424095125.9680/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: aliceblue;
}
p{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
img{
    width: 1700px;
    height: 400px;
}
